<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'tabs/tab2'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{category.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-content>
      <ion-list *ngIf="drinksByCategory">
        <ion-item
            *ngFor="let drink of drinksByCategory.drinks">
          <ion-label
              [routerLink]="'drink-details/' + drink.idDrink"
              routerDirection="forward">{{drink.strDrink}}</ion-label>
          <ion-icon
              (click)="toggleFavoriteDrink(drink)"
              *ngIf="!isFavoriteDrink(drink)"
              icon="star-outline"></ion-icon>
          <ion-icon
              (click)="toggleFavoriteDrink(drink)"
              *ngIf="isFavoriteDrink(drink)"
              icon="star"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
