
$tan: #ffdbb5;
$orange: #e0a458;
$green: #419d78;
$blue: #5b6191;
$purple: #9b21d3;

.show-back-button.sc-ion-back-button-md-h, .can-go-back.sc-ion-back-button-md-h > ion-header.sc-ion-back-button-md, .can-go-back > ion-header .sc-ion-back-button-md-h {
  display: inline-block;
}
ion-title {
  display: inline-block;
}

ion-icon {
  fill: $orange;
}

ion-spinner {
  left: 45%;
  padding-top: 12em;
  padding-bottom: 12em;
}
.center-box {
  width: 50%;
  height: 14em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
