<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titleBar" >
      Drinks List
  </ion-title>
     </ion-toolbar>
</ion-header>

<ion-content color="secondary">
<ion-card color="light">
  <!-- <ion-card-content> -->
  <ion-list-header>Categories</ion-list-header>
    <ion-list>
      <ion-item
              *ngFor="let category of drinkCategories"
              [routerLink]="'drinks/' + category.value" routerDirection="forward">
        <ion-label>{{category.name}}</ion-label>
      </ion-item>
    </ion-list>
  <!-- </ion-card-content> -->
</ion-card>
</ion-content>
