
$tan: #ffdbb5;
$orange: #e0a458;
$green: #419d78;
$blue: #5b6191;
$purple: #9b21d3;


h1, h2 {
  padding: .5em 0 .2em 0;
}
ion-card-header {
  text-align: center;
}
.horizontally-center-button {
  text-align: center;
}

.horizontally-center-button button {
  margin: auto;
}

#favBtn {
 /* margin-top: -3.5em;*/
  margin-bottom: -1em;
  float: right;
}

ion-icon {
 float: right;
  font-size: xx-large;
  fill: $orange;
}
.center-box {
  width: 50%;
  height: 14em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
