
$tan: #ffdbb5;
$orange: #e0a458;
$green: #419d78;
$blue: #5b6191;
$purple: #9b21d3;


h1, h2 {
  padding: .5em 0 .2em 0;
}
ion-card-header {
  text-align: center;
}
.horizontally-center-button {
  text-align: center;
}

.horizontally-center-button button {
  margin: auto;
}
/*

.toolbar {
  --background: #63ccca;
  background-color: #63ccca;
  color: #5b6191;
}
*/




ion-button {
  --background: #63ccca;
}
