<ion-header>
  <ion-toolbar class="toolbar" color="primary">
    <ion-title>
      Jay's Mixology Tome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <ion-card class="welcome-card" *ngIf="randomCocktail; else loading" color="light">
    <ion-card-header>
        <ion-icon
            (click)="favoriteDrink(randomCocktail.drinks[0])"
            *ngIf="!isFavoriteDrink()"
            icon="star-outline"></ion-icon>
        <ion-icon
            (click)="favoriteDrink(randomCocktail.drinks[0])"
            *ngIf="isFavoriteDrink()"
            icon="star"></ion-icon>
      <h1>Random drink:</h1>
      <ion-card-title> {{randomCocktail.drinks[0].strDrink}}
      </ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <div>
        <img src='{{randomCocktail.drinks[0].strDrinkThumb}}' alt="{{randomCocktail.drinks[0].strDrink}} img">

        <h2>Ingredients</h2>
        <ul *ngIf="randomCocktail">
          <li *ngIf="randomCocktail.drinks[0].strIngredient1">
            <span>{{randomCocktail.drinks[0].strIngredient1}}</span> {{randomCocktail.drinks[0].strMeasure1}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient2">
            <span>{{randomCocktail.drinks[0].strIngredient2}}</span> {{randomCocktail.drinks[0].strMeasure2}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient3">
            <span>{{randomCocktail.drinks[0].strIngredient3}}</span> {{randomCocktail.drinks[0].strMeasure3}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient4">
            <span>{{randomCocktail.drinks[0].strIngredient4}}</span> {{randomCocktail.drinks[0].strMeasure4}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient5">
            <span>{{randomCocktail.drinks[0].strIngredient5}}</span> {{randomCocktail.drinks[0].strMeasure5}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient6">
            <span>{{randomCocktail.drinks[0].strIngredient6}}</span> {{randomCocktail.drinks[0].strMeasure6}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient7">
            <span>{{randomCocktail.drinks[0].strIngredient7}}</span> {{randomCocktail.drinks[0].strMeasure7}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient8">
            <span>{{randomCocktail.drinks[0].strIngredient8}}</span> {{randomCocktail.drinks[0].strMeasure8}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient9">
            <span>{{randomCocktail.drinks[0].strIngredient9}}</span> {{randomCocktail.drinks[0].strMeasure9}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient10">
            <span>{{randomCocktail.drinks[0].strIngredient10}}</span> {{randomCocktail.drinks[0].strMeasure10}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient11">
            <span>{{randomCocktail.drinks[0].strIngredient11}}</span> {{randomCocktail.drinks[0].strMeasure11}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient12">
            <span>{{randomCocktail.drinks[0].strIngredient12}}</span> {{randomCocktail.drinks[0].strMeasure12}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient13">
            <span>{{randomCocktail.drinks[0].strIngredient13}}</span> {{randomCocktail.drinks[0].strMeasure13}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient14">
            <span>{{randomCocktail.drinks[0].strIngredient14}}</span> {{randomCocktail.drinks[0].strMeasure14}}
          </li>
          <li *ngIf="randomCocktail.drinks[0].strIngredient15">
            <span>{{randomCocktail.drinks[0].strIngredient15}}</span> {{randomCocktail.drinks[0].strMeasure15}}
          </li>
        </ul>
        <h1>Instructions:</h1>
        <p>{{randomCocktail.drinks[0].strInstructions}}</p>
      </div>
    </ion-card-content>
    <div class="horizontally-center-button">
      <ion-button (click)="getRandomCocktail()">new drink</ion-button>
    </div>
  </ion-card>


  <ng-template #loading>
    <ion-card color="light" class="center-box">
      <ion-card-content>
        <ion-img class="center" src="assets/Spinner-1.5s-200px.gif" alt="loading"></ion-img>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
