.horizontally-center {
  text-align: center;
}


input[type=search]{
  background: #ededed url("https://ionicons.com/ionicons/svg/md-search.svg") no-repeat 12.5em center;
  background-size: 2.0em;
  margin: 1.5em 0 0 0;
  border: .1em solid #86888f;
  padding: 9px 2em 9px 2em;
  text-align: center;
  min-width: 10em;
  width: fit-content;
  color: black;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}

#searchBtn {
  background-size: 2.5em;
  background-position: .1em 0;
  padding: 9px 2em 9px 2em;
  border: .1em solid #86888f;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}

input[type=search]:focus {
  outline: none;
  border-color: #10dc60;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input::-webkit-search-decoration{
  display: none;
}

ion-card {
  height: fit-content;
}

.back-button {
  border-radius: 7px;
  border: .01em solid #86888f;
  padding: .3em;
  float: right;
}

$orange: #e0a458;

ion-icon {
  fill: $orange;
}

