.horizontally-center {
  text-align: center;
}


input[type=search]{
  background-size: 2.0em;
  margin: 1.5em 0 0 0;
  border: none;
  padding: 9px 2em 9px 2em;
  width: 10em;
  color: black;
  border-radius: 10em 0 0 10em;
}

.searchBtn {
  margin-top: 1.5em;
  height: 2.63em;
  background: white url("https://ionicons.com/ionicons/svg/md-search.svg") no-repeat center;
  background-size: 2.0em;
  width: 1.7em;
}

.search-drop-toggle {
  margin-top: 1.5em;
  height: 2.63em;
  background: white;
  border-radius: 0 10em 10em 0;
}

.dropdown-menu label {
  padding-left: 1em;
}

input[type=search]:focus {
  outline: none;
  border-color: #10dc60;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input::-webkit-search-decoration{
  display: none;
}

ion-card {
  height: fit-content;
}

.back-button {
  border-radius: 7px;
  border: .01em solid #86888f;
  padding: .3em;
  float: right;
}

$orange: #e0a458;

ion-icon {
  fill: $orange;
}

button[name="searchType"] span {
  float: right;
}
